* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: #f7f7f7;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    text-align: center;
}

hr {
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.game button {
    width: 100px;
    height: 100px;
    margin: 2px;
    cursor: pointer;
    font-size: 50px;
    background: white;
}

/* tirando as bordas */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}
